docker-compose.override.yml
/config/_local.*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/css/
/public/js/
/public/img/
/public/index.html
/public/manifest.webmanifest
/public/favicon.ico
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# @todo убрать
/public/auth-test.html
/public/auth-test.js
/public/avatar.png
/public/logo circle.png
/public/logo 16
