{% extends 'base.html.twig' %}

{% block content %}
    <h1>Заверение аккаунта</h1>

    <p>Для продолжения использования сервисом, необходимо пройти заверение аккаунта.</p>

    <p>Свяжитесь в вк с вашим заверителем и договоритесь об этом.</p>

    <a href="{{ app.user.assuranceChatInviteLink }}" target="_blank" class="btn btn-primary">Ссылка на чат с заверителем</a>

{% endblock %}
