{% extends 'base.html.twig' %}

{% block content %}
    <h1>Заверение аккаунта</h1>

    <p>Для продолжения использования сервисом, необ[одимо пройти заверение аккаунта.</p>

    <p>Свяжитесь в вк с вашим заверителем и договоритесь об этом.</p>

    {% for witness in witnesses %}
        <a href="https://vk.com/id{{ witness.vkIdentifier }}" target="_blank">{{ witness }}</a>
    {% endfor %}

{% endblock %}
