{% extends 'base.html.twig' %}

{% block header '' %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .app-login {
            width: 25%;
            min-width: 300px;
            margin: 10% auto;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="app-login">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">
            Добро пожаловать на Kopnik-org
        </h1>
    </div>

    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}

    {% for owner in hwi_oauth_resource_owners() %}
        <a href="{{ hwi_oauth_login_url(owner) }}"
           class="btn btn-lg btn-primary btn-block"
        >
            Войти через {{ owner | trans({}, 'HWIOAuthBundle') }}
        </a>

        <br />
    {% endfor %}
    </div>
{% endblock content %}
